/*
CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/*
KANAGAWA ROOT VARIABLES
*/
:root {
  /* Sumi Ink (Backgrounds) */
  --sumi-ink-0: #16161d;
  --sumi-ink-1: #1f1f28;
  --sumi-ink-2: #2a2a37;
  --sumi-ink-3: #363646;
  --sumi-ink-4: #54546d;

  /* Woods (Foregrounds) */
  --fuji-white: #dcd7ba;
  --old-white: #c8c093;
  --fuji-gray: #727169;

  /* Waves (Blues) */
  --wave-blue-1: #2d4f67;
  --wave-blue-2: #5a778d;

  /* "Living" Accents (Bright) */
  --carp-red: #e82424;
  --sakura-pink: #d27e99;
  --wave-aqua-2: #7aa89f;
  --peach-red: #ff5d62;

  /* "Calm" Accents (Subtle) */
  --autumn-green: #76946a;
  --autumn-yellow: #dca561;
  --autumn-red: #c34043;

  /* Ronin / Other */
  --ronin-yellow: #ff9e3b;
  --oni-violet: #957fb8;
  --crystal-blue: #7e9cd8;
}

body {
  font-family: "Source Code Pro", monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: var(--sumi-ink-1);
  color: var(--fuji-white);
  overflow: hidden;
  user-select: none;

  height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit; /* This is great, inputs/buttons now use "Source Code Pro" */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

small {
  font-size: 12px !important;
  margin-bottom: 0.5em;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
}

input {
  font-size: 0.8em;
}

@font-face {
  font-family: "Source Code Pro", monospace;
  src: url("./renderer/assets/fonts/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "SilkScreen";
  src: url("./renderer/assets/fonts/Silkscreen-Regular.ttf");
}

.ronin-yellow {
  color: var(--ronin-yellow);
}

.oni-violet {
  color: var(--oni-violet);
}

.bright-cyan {
  color: rgb(11, 212, 212);
}

#title-bar {
  height: 40px;
  background-color: var(--sumi-ink-0);
  color: var(--old-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid var(--sumi-ink-3);
  line-height: 0.7em;
  app-region: drag;
  flex-shrink: 0;
}

#title {
  font-family: "Silkscreen", sans-serif;
}

#window-controls {
  app-region: no-drag;
}

#window-controls > button {
  font-size: 12px;
  border: none;
  padding: 0.2em;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#window-controls > button > img {
  height: 12px;
}

#window-controls > button:hover {
  cursor: pointer;
  transform: translateY(2px);
}

#close-btn {
  background-color: var(--autumn-red);
}

#max-btn {
  background-color: var(--autumn-green);
}

#min-btn {
  background-color: var(--autumn-yellow);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fill the whole window */
  overflow: hidden; /* The wrapper itself MUST NOT scroll */
}

.container {
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* ADD THIS LINE */
}

.input-group {
  margin-bottom: 1em;
}
